:root {
  --color-navy-blue: #2e2f42;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-slate: #434455;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-cornflower: #e7e9fc;
  --color-light-slate: #8e8f99;
  --color-green: #31d0aa;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  color: inherit;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
