.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-icon-wrapper {
  display: none;
}

.feature-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  text-align: center;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

@media (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--color-cloud);
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .feature-title {
    font-weight: 500;
  }
}
