.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}

.logo span {
  color: var(--color-iris);
}

.header-nav,
.contacts {
  display: none;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu-toggle-icon {
  fill: var(--color-navy-blue);
}

@media (min-width: 1158px) {
  .logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--color-ocean);
  }

  .nav-link.current {
    color: var(--color-ocean);
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-ocean);
    border-radius: 2px;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
  }

  .contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-toggle {
    display: none;
  }
}
